/* side nav */
.sidenav {
  background: var(--dark);
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 300px;
  padding: 20px;
  transition: var(--transition);
  z-index: 10;
}

/********/
.sidenav.show {
  right: 0;
}
/*************/
.cancel-btn {
  position: absolute;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  transition: var(--transition);
}
.cancel-btn:hover {
  opacity: 0.7;
}
.navbar {
  margin-top: 50px;
  list-style: none;
  padding: 12px;
}
.navbar li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
  opacity: 0.8;
  letter-spacing: 1.5px;
  transition: var(--transition);
}
.navbar li a:hover {
  padding-left: 12px;
}
.sign-up,
.log-in {
  background: var(--yellow);
  color: #fff;
}

@media (max-width: 400px) {
  .sidenav {
    width: 100vw;
  }
}
